.social-logo-container {
    width: 100%;

    .social-logo {
        transition: font-size 0.2s;
        width: 100%;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        color: var(--primary-color);
        text-shadow: 1px 1px 2px var(--primary-color);
        font-size: 24px;
        font-family: Verdana, Tahoma, sans-serif;
    }

    .social-logo-desc {
        font-size: 12px;
        text-align: center;
        font-style: italic;
        color: #0000007f;
    }
    &.social-logo-mini {
        .social-logo {
            font-size: 20px;
        }
    }
}
