.operation-spin-nested-loading {
    height: 100%;
    .operation-spin.operation-spin-spinning {
        max-height: unset !important;
    }

    .operation-item-form {
        padding: 16px;
        padding-bottom: 0;
        border: 1px solid #f0f0f0;
        border-radius: 6px;
        margin-bottom: 16px;
    }

    .operation-picker {
        width: 100%;
    }

    .operation-place-field {
        width: 100%;
        .operation-space-item:has(.operation-select) {
            flex: 1;
        }
    }
}
