.appeal-spin-nested-loading {
    height: 100%;
    .appeal-spin.appeal-spin-spinning {
        max-height: unset !important;
    }

    .appeal-item-form {
        padding: 16px;
        padding-bottom: 0;
        border: 1px solid #f0f0f0;
        border-radius: 6px;
        margin-bottom: 16px;
    }
}
